html, body {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  min-width: 100vw;
  min-height:100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choicenav {
  position: absolute;
  top: 0;
  left: 0;

  padding: 10px;
  /* You can add more styles as needed */
}
.choicenav img{
  width:60%;
}
canvas {
  display: block;
  max-width: 100%;
  height: auto;
}
